@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

$dk-gray-blue: hsl(217, 19%, 35%);
$dk-blue: hsl(214, 17%, 51%);
$gray-blue: hsl(212, 23%, 69%);
$lt-gray-blue: hsl(210, 46%, 95%);

body {
  background-color: $lt-gray-blue;
}
.container {
  background-color: white;
  display: flex;
  transform: translate(0%, 100%);
  margin: auto;
  height: 300px;
  width: 800px;
  border-radius: 15px;
  font-family: "Manrope", sans-serif;
  .image img {
    height: 300px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .textbox {
    padding: 25px;
    width: 350px;
  }
  .textbox h1 {
    font-size: 20px;
    color: $dk-gray-blue;
  }
  .textbox p {
    font-size: 13px;
    color: $dk-blue;
  }
  .attribution {
    padding-top: 30px;
  }
}

.popup-wrapper {
  position: absolute;
  display: none;
  height: 55px;
  width: 275px;
  background-color: $dk-gray-blue;
  transform: translate(189px, -50px);
  border-radius: 10px;
  .popup {
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
  }
}

.popup-wrapper::after {
  content: "";
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  background: $dk-gray-blue;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
}

.account-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  .social-icons-container {
    display: none;
  }
  .account-image {
    margin-right: 20px;
  }
  .account-image img {
    height: 40px;
    border-radius: 25px;
  }
  .account-textbox {
    line-height: 0.6;
    width: 127px;
  }
  .account-textbox h1 {
    font-size: 13px;
  }
  .account-textbox p {
    color: $gray-blue;
  }
  .share-icon {
    cursor: pointer;
    margin-left: 125px;
    background-color: $lt-gray-blue;
    border: hidden;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .share-icon img:hover {
    color: white;
  }
  button:hover {
    background-color: $dk-gray-blue;
  }
}

@media screen and (max-width: 700px) {
  .container {
    transform: translate(3%, 15%);
    flex-direction: column;
    height: 650px;
    width: 375px;
    .textbox {
      width: 325px;
    }
    .textbox p {
      line-height: 1.6;
    }
    .image img {
      width: 375px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0px;
    }
    .attribution {
      padding-top: 45px;
    }
  }

  .account-info {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 375px;
    transform: translate(-25px, 42px);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 32px;
    .account-image {
      padding-left: 25px;
    }
    .account-textbox {
      padding-top: 15px;
    }
    .share-icon {
      margin-left: 90px;
    }
  }
  .account-info-clicked {
    background-color: hsl(217, 19%, 35%);
    .account-image {
      display: none;
    }
    .account-textbox {
      display: none;
    }
    .share-icon img:hover {
      color: white;
    }
    button:hover {
      background-color: $gray-blue;
    }
    .social-icons-container {
      display: block;

      .social-icons {
        display: flex;
        margin-left: 25px;
        align-items: center;
        width: 187px;
        justify-content: space-around;
      }
    }
  }
}
