@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
body {
  background-color: #ecf2f8;
}

.container {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
  margin: auto;
  height: 300px;
  width: 800px;
  border-radius: 15px;
  font-family: "Manrope", sans-serif;
}

.container .image img {
  height: 300px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.container .textbox {
  padding: 25px;
  width: 350px;
}

.container .textbox h1 {
  font-size: 20px;
  color: #48556a;
}

.container .textbox p {
  font-size: 13px;
  color: #6d7f97;
}

.container .attribution {
  padding-top: 30px;
}

.popup-wrapper {
  position: absolute;
  display: none;
  height: 55px;
  width: 275px;
  background-color: #48556a;
  -webkit-transform: translate(189px, -50px);
          transform: translate(189px, -50px);
  border-radius: 10px;
}

.popup-wrapper .popup {
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-wrapper::after {
  content: "";
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #48556a;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
}

.account-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.account-info .social-icons-container {
  display: none;
}

.account-info .account-image {
  margin-right: 20px;
}

.account-info .account-image img {
  height: 40px;
  border-radius: 25px;
}

.account-info .account-textbox {
  line-height: 0.6;
  width: 127px;
}

.account-info .account-textbox h1 {
  font-size: 13px;
}

.account-info .account-textbox p {
  color: #9eafc2;
}

.account-info .share-icon {
  cursor: pointer;
  margin-left: 125px;
  background-color: #ecf2f8;
  border: hidden;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.account-info .share-icon img:hover {
  color: white;
}

.account-info button:hover {
  background-color: #48556a;
}

@media screen and (max-width: 700px) {
  .container {
    -webkit-transform: translate(3%, 15%);
            transform: translate(3%, 15%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 650px;
    width: 375px;
  }
  .container .textbox {
    width: 325px;
  }
  .container .textbox p {
    line-height: 1.6;
  }
  .container .image img {
    width: 375px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
  }
  .container .attribution {
    padding-top: 45px;
  }
  .account-info {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 375px;
    -webkit-transform: translate(-25px, 42px);
            transform: translate(-25px, 42px);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 32px;
  }
  .account-info .account-image {
    padding-left: 25px;
  }
  .account-info .account-textbox {
    padding-top: 15px;
  }
  .account-info .share-icon {
    margin-left: 90px;
  }
  .account-info-clicked {
    background-color: #48556a;
  }
  .account-info-clicked .account-image {
    display: none;
  }
  .account-info-clicked .account-textbox {
    display: none;
  }
  .account-info-clicked .share-icon img:hover {
    color: white;
  }
  .account-info-clicked button:hover {
    background-color: #9eafc2;
  }
  .account-info-clicked .social-icons-container {
    display: block;
  }
  .account-info-clicked .social-icons-container .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 187px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=style.css.map */